{%extends 'base.html'%}
{% load bootstrap4 %}
{%load staticfiles%}

{% block content %} 
{{block.super}}
<style>
body{
    background-image: url('https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    text-align: center;
}
p,h2,h3{
color: white;
}
.img{
    display: flex;
    
}

</style>

<div class="container">
<div class="row">
<div class="col-md-6">        

<h1>Skills</h1>
<div class="skill">

<h3>HTML && CSS</h3>
<P>Im quite convesant with the htmml and css and well fumilour with all the aspects of creating a web application with friendly UX/UI.</P>

<h3>JAVASCRPT && JQUERY</h3>
<p>I build both small and large scale applications in Javascript for both desktop and tablets. Combined with an indepth knowledge of UX, I can build user friendly applications from start to finish.
Im also familour with angular js as javascript frame that im capable of using to create a responsive front end websites.</p>

<h3>PYTHON</h3>
<p>Python is one of the best programming languages i do appriciate and im conversant with the language to build amazing websites using Flask and Django framework.</p>
</div>
</div>


<div class="col-md-6">
    <div class="row">
    {%for skill_item in all_skill%}
    <div class="col-md-4">
        
        <img src="{{skill_item.image.url}}"  alt="Picture"
        style=" height: 100px; width: 100px;margin:15px 0 0 20px;">
    </div>
    
    {%endfor%}
</div>



</div>

</div>
</div>
{% endblock %}